body {
    font-family: "Lato", sans-serif;
}

.bg-primary {
    background-color: #555555 !important;
}

.navbar-dark {
    margin-right: 19px;
    margin-left: 19px;
}

.creator_container {
    display: flex;
    align-items: center;
    font-size: 20px;
}

.creator_item {
    text-transform: uppercase;
    color: #181615;
    letter-spacing: 0em;
    line-height: 1.28571199em;
    font-size: 19px;
    margin-top: 1rem;
}

#navbarNavDropdown {
    display: flex !important;
    justify-content: space-between;
}

.navbar-nav {
    margin-left: 50px;
}

.navbar-nav li {
    margin-right: 20px;
    min-width: 110.48px !important;
}

.nav-button {
    color: #393330;
    cursor: pointer;
    border: none;
    padding: 0 12px;
    transition: 0.5s;
    border-left: 1px solid #393330;
    border-right: 1px solid #393330;
    background: transparent;
}

.nav-button:hover {
    background-color:white;
    color: black;
}

#logout_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.language-container {
    margin-right: 70px;
}

.change-lang {
    width: 80px !important;
    background-color: #393330;
    color: white;
    height: 30px;
    padding: 0;
    cursor: pointer;
}

#logout_button {
    background: #867A6C;
    text-transform: uppercase;
    color: #ffffff;
    letter-spacing: 0.085em;
    line-height: 1.34998313em;
    text-align: center;
    border: none;
    height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.main-head{
    height: 150px;
    background: #FFF;
}

.main {
    padding: 0px 10px;
}

.login-main-text{
    margin-top: 20%;
    padding: 60px;
    color: #fff;
}

.login-main-text h2{
    font-weight: 300;
}

.btn-black{
    background-color: #000 !important;
    color: #fff;
}