body {
    font-family: "Lato", sans-serif;
}

.bg-primary {
    background-color: #555555 !important;
}

#navbarNavDropdown {
    display: flex !important;
    justify-content: space-between;
}

.navbar-nav {
    margin-left: 50px;
}

.navbar-nav li {
    text-align: center;
    margin-right: 20px;
    position: relative;
    border: 1px solid white;
    border-top: none;
    border-bottom: none;
    min-width: 110.48px;
}

#logout_container {
    border: 1px solid white;
    border-top: none;
    border-bottom: none;
    margin-right: 25px;
    margin-left: 15px;
}

.nav-button {
    background-color: #555555;
    color: white;
    cursor: pointer;
    border: none;
    padding: 6px 12px;
    width: 100%;
    transition: 0.5s;
}

.nav-button:hover {
    background-color:white;
    color: black;
}

.creator_container {
  color: white;
    font-size: 20px;
    position: relative;
    height: 40px;
    min-width: 150px;
    margin-left: 50px;
    border-radius: 50%;
}

.creator_item {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) }
}

.creator_lines {
    position: absolute;
    width: 200px !important;
    height: calc(100% + 10px);
    left: -5px;
    top: -5px;
    overflow: hidden;
}

.creator_lines:before {
    content: "";
    position: absolute;
    top: 0;
    left: -25px;
    height: 100%;
    border: 1px solid white;
    animation: moveLines 3s linear infinite;
    width: 200px;
}

@keyframes moveLines {
  0% {
    border-top: 1px solid transparent;
    border-right: 1px solid white;
    border-bottom: 1px solid transparent;
    border-left: 1px solid transparent;
  }
  25% {
    border-top: 1px solid transparent;
    border-right: 1px solid transparent;
    border-bottom: 1px solid white;
    border-left: 1px solid transparent;
  }
  50% {
    border-top: 1px solid transparent;
    border-right: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-left: 1px solid white;
  }
  75% {
    border-top: 1px solid white;
    border-right: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-left: 1px solid transparent;
  }
  100% {
    border-top: 1px solid transparent;
    border-right: 1px solid white;
    border-bottom: 1px solid transparent;
    border-left: 1px solid transparent;
  }
}

.main-head{
    height: 150px;
    background: #FFF;
}


.main {
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
}

@media screen and (max-width: 450px) {
    .login-form{
        margin-top: 10%;
    }

    .register-form{
        margin-top: 10%;
    }
}

@media screen and (min-width: 768px){
    .main{
        margin-left: 40%;
    }

    .sidenav{
        width: 40%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
    }

    .login-form{
        margin-top: 80%;
    }

    .register-form{
        margin-top: 20%;
    }
}

.login-main-text{
    margin-top: 20%;
    padding: 60px;
    color: #fff;
}

.login-main-text h2{
    font-weight: 300;
}

.btn-black{
    background-color: #000 !important;
    color: #fff;
}