body {
    font-family: "Lato", sans-serif;
}

.main-head{
    height: 150px;
    background: #FFF;
}

.sidenav {
    height: 100%;
    background-color: #000;
    overflow-x: hidden;
    padding-top: 20px;
}

.main {
    padding: 0px 10px;
    position: relative;
}


.login-form {
    margin-left: 20px;
}

#email {
    margin-bottom: 15px;
}

#pass {
    margin-bottom: 20px;
}

#log {
    margin-right: 20px;
    background-color: #393330 !important;
    color: #fff;
}

#log:hover, .registration:hover {
    background-color: black !important;
    transition: 0.5s;
}

.registration {
    background-color: #867A6C
    color: #fff;
}

#messageDiv {
    position: fixed;
    top: 80px;
    left: 50%;
    width: 300px;
    background-color: #ff0000;
    color: #ffffff;
    padding: 10px;
    display: none;
    height: 50px;
    opacity: 0.8;
    text-align: center;
    border-radius: 50px;
    font-size: 20px;
}

#notValidPassword {
    margin-bottom: 20px;
    font-size: 15px;
    color: red;
    border-radius: 10px;
}

.login-main-text{
    margin-top: 20%;
    padding: 60px;
    color: #fff;
}

.login-main-text h2{
    font-weight: 300;
}

#verify {
    height: 40px;
    margin-top: 30px;
    margin-bottom: 15px;
    background-color: black !important;
    width: 180px;
    position: relative;
    top: 20px;
    left: -75px;
}

.login_circle_1, .login_circle_2, .login_circle_3,
.login_circle_4, .login_circle_5, .login_circle_6 {
    position: absolute;
    left: 740px;
    top: -100px;
    opacity: 0.5;
}

.login_circle_2 {
    left: 1030px;
    width: 110px;
    top: -20px;
}

.login_circle_3 {
    left: 960px;
    width: 80px;
    top: 110px;
}

.login_circle_4 {
    left: 1140px;
    width: 110px;
    top: 120px;
}

.login_circle_5 {
    left: 1310px;
    width: 150px;
    top: 40px;
}

.login_circle_6 {
    left: 1000px;
    width: 130px;
    top: 270px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
}

@media screen and (max-width: 450px) {
    .login-form{
        margin-top: 10%;
    }

    .register-form{
        margin-top: 10%;
    }
}

@media screen and (min-width: 768px){
    .main{
        margin-left: 40%;
    }

    .sidenav{
        width: 40%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
    }

    .login-form{
        margin-top: 80%;
    }

    .register-form{
        margin-top: 20%;
    }
}

.spinner {
  border: 8px solid rgba(0, 0, 0, 0.1);
  border-left-color: #09f;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

#spinner-container {
  display: flex;
  justify-content: center;
}