.table-container {
    margin-top: 30px;
}

.table_inner {
    border: 1px solid black;
    height: 341px;
    overflow-y: auto;
}

.columns_titles{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

.service {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

.service:last-child {
  border-bottom: none;
}

.cell {
    width: 300px;
    padding: 10px;
    border-right: 1px solid black;
}

.actions {
    display: flex;
}

button[data-target="#service_UpdateModal"] {
    margin-right: 30px;
}