.table-container {
    margin-top: 30px;
}

.table_inner {
    border: 1px solid black;
    height: 341px;
    overflow-y: auto;
}

.columns_titles{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

.service {
    display: flex;
    justify-content: space-between;
}

.cell {
    width: 300px;
    padding: 10px;
    position: relative;
}

.cell:nth-child(-n+3) span::before {
    content: "";
    position: absolute;
    left: 300px;
    top: 10px;
    height: 50%;
    width: 1px;
    background-color: black;
    transform: translateX(-50%);
}

.actions {
    display: flex;
}

button[data-target="#service_UpdateModal"] {
    margin-right: 30px;
}

.service_updateOpenBtn, .service_deleteOpenBtn {
    background: #393330;
    color: white;
    appearance: none;
    font-size: 18px;
    position: relative;
    cursor: pointer;
    border-radius: 0 !important;
    height: 38px;
    font-weight: normal;
}

.service_deleteOpenBtn {
    background: #867A6C;
}
