.table-container, .table-container_specialist, .table-container_admin {
    margin-top: 30px;
    position: relative;
    background-color: white;
}

.table_inner, .table_inner_specialist, .table_inner_admin {
    border: 1px solid black;
    min-height: 106px;
    overflow-y: auto;
    max-height: 341px !important;
}

.columns_titles, .columns_titles_specialist, .columns_titles_admin {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid black;
  background-color: #ebebeb;
  min-width: 900px;
}

.service, .specialist, .admin {
    display: flex;
    justify-content: space-around;
    background-color: white;
    min-width: 900px;
}

.cell, .specCol {
    width: 300px;
    padding: 10px;
    position: relative;
}

.admCol {
    width: 50%;
    padding: 10px;
    position: relative;
}

.columns_titles .cell:nth-child(-n+2) {
    border-right-width: 2px;
    border-right-style: outset;
}

.columns_titles_specialist .specCol:nth-child(-n+2) {
    border-right-width: 2px;
    border-right-style: outset;
}

.columns_titles_admin .admCol:nth-child(-n+1) {
    border-right-width: 2px;
    border-right-style: outset;
}

.actions {
    display: flex;
}

.centerPos {
    display: flex;
    justify-content: center;
}


button[data-target="#service_UpdateModal"],
button[data-target="#specialist_UpdateModal"] {
    margin-right: 30px;
}

.service_updateOpenBtn, .service_deleteOpenBtn, .specialist_updateOpenBtn, .specialist_deleteOpenBtn, .admin_deleteOpenBtn {
    background: #393330;
    color: white;
    appearance: none;
    font-size: 18px;
    position: relative;
    cursor: pointer;
    border-radius: 0 !important;
    height: 38px;
    font-weight: normal;
}

.service_deleteOpenBtn, .specialist_deleteOpenBtn, .admin_deleteOpenBtn {
    background: #867A6C;
}
