.modal_container {
    width: 100%;
    margin-top: 50px;
}

.modal_items {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.modal_title {
    align-items: flex-end;
    display: flex;
    font-size: 32px;
    font-weight: 100;
}

#service_createOpenBtn, #specialist_createOpenBtn, #admin_createOpenBtn {
    background: #393330;
    color: white;
    appearance: none;
    font-size: 18px;
    position: relative;
    cursor: pointer;
    border-radius: 0 !important;
    height: 38px;
    font-weight: normal;
    width: 100px;
}

#service_createOpenBtn:disabled, #specialist_createOpenBtn:disabled, #admin_createOpenBtn:disabled, #department_CreatePopup:disabled {
    cursor: not-allowed;
    border: 1px solid black;
    opacity: 0.5;
}
