home_region=eu-central-1
lambdas="adminLambda||admin/target/admin-0.0.1-SNAPSHOT-jar-with-dependencies.jar||adminLambdaAlias"

adminLambdaArtefact="admin/target/admin-0.0.1-SNAPSHOT-jar-with-dependencies.jar"

deploymentBucket="appointment-deployment-bucket"
uiBucket="appointer-ui"
infraStack="appointment-stack"
infraTemplate="deploymentResources-infra.yml"
infraParams="params-infra.json"

poolIdParamName="user-pool-id"
clientPoolIdParamName="user-pool-client-id"
