home_region=eu-central-1
runtime=java11
accountId=773974733061
verifiedEmail=sergii.udaltsov@gmail.com
artefactSuff=-0.0.1-SNAPSHOT.jar

lambdas="adminLambda||admin||true postSignUpLambda||registration||false appointerBotLambda||bot||true"

layerArtefact="layer/target/bot-3d-layer.jar"
adminLayerName="adminLayer"

deploymentBucket="appointment-deployment-bucket"
uiBucket="appointer-ui-773974733061"
infraStack="appointment-stack"
infraTemplate="deploymentResources-infra.yml"

poolIdParamName="user-pool-id"
clientPoolIdParamName="user-pool-client-id"

