home_region=eu-central-1
lambdas="bot_lambda event_processor_lambda"
lambda_layer_name=3rd-party-layer
layer_bucket_name=layer-bucket-scheduler
stack_name=appointment-stack
deploymentStatusFile=deploymentStatus.txt
deploymentScriptFile=deployInfra.sh
infra_roles=roles.yml
deploymentBucket=scheduler-deployment-resources-bucket
parent_stack=parentStack.yml
bot_jar=bot-1.0-SNAPSHOT.jar
runtime=java11
