@media (max-width: 1750px) {
    .appointer_functions-container {
        margin-bottom: 100px;
    }
}

@media (max-width: 1750px) {
    .phones_container {
        margin-top: -110px;
    }
}

@media (max-width: 1720px) {
    .phones_container {
        margin-top: 100px;
    }
}

@media (max-width: 1450px) {
    .phones_container {
        margin-top: 150px;
    }
}

@media (max-width: 1360px) {
    .phones_container {
        margin-top: 210px;
    }
}

@media (max-width: 1300px) {
    .appointer_functions-container {
        margin-bottom: 300px;
    }

    .phones_container {
        margin-top: -70px;
    }
}

@media (max-width: 1100px) {
    .appointer_functions-container {
        margin-bottom: 380px;
    }

    .description_steps {
            font-size: 16px;
            line-height: 30px;
            font-family: sans-serif;
            margin-top: 30px;
    }

    .circle-container {
        rotate: -90deg;
        right: 216px;
        top: 20px;
    }

    .circle-container a {
        rotate: 90deg;
    }
}

@media (max-width: 980px) {
    .appointer_functions-container {
        margin-bottom: 400px;
    }

    .global_title {
        font-size: 70px !important;
    }
}

@media (max-width: 900px) {
    .phones_container {
        margin-top: -30px;
    }
}

@media (max-width: 800px) {
    .first_phone, .second_phone {
          width: 320px;
    }
}

@media (max-width: 700px) {
    .phones_container {
        margin-top: 50px;
    }
}

@media (max-width: 660px) {
    .appointer_functions-container {
        margin-bottom: 800px;
    }

    .functions_header {
        margin-bottom: 50px !important;
    }

    .row {
        display: none;
    }

    .phones_container {
        margin-top: -170px;
    }

    .first_phone, .second_phone {
        width: 240px;
    }
}

@media (max-width: 550px) {
    .phones_container {
        margin-top: -100px;
    }
}

@media (max-width: 510px) {
    .appointer_functions-container {
        margin-bottom: 980px;
    }

     .page-component__bg_image_box {
            min-height: 4400px !important;
     }

     .global_title {
            font-size: 50px !important;
     }

     .phones_container {
            margin-top: -210px;
     }
}

@media (max-width: 480px) {
    .phones_container {
         margin-top: -170px;
    }
}

@media (max-width: 450px) {
    .appointer_functions-container {
        margin-bottom: 950px;
    }

     .global_title {
            font-size: 50px !important;
     }

     .scroll-button {
         bottom: 80px;
     }

     .footer {
         min-height: 320px;
     }

     .footer_inner {
         flex-direction: column;
     }

    #logo_footer {
        width: 200px;
        bottom: 130px;
        left: -40px;
    }

    .footer__menu {
        right: -130px;
    }

    .contact {
        right: -130px;
        width: 200px;
    }

    .footer__menu-title {
        font-size: 15px;
    }

    .footer__menu-link {
        font-size: 10px;
    }

    .phones_container {
        margin-top: -150px;
    }

    .first_phone, .second_phone {
        width: 160px;
    }
}

@media (max-width: 430px){
    .phones_container {
        margin-top: -80px;
    }
}

@media (max-width: 410px){
   .phones_container {
        margin-top: -30px;
   }
}

@media (max-width: 360px) {
    .appointer_functions-container {
        margin-bottom: 1020px;
    }

     .global_title {
            font-size: 40px !important;
     }

     .scroll-button {
              bottom: 30px;
     }

     .phones_container {
         margin-top: -100px;
     }
}