@media only screen and (max-width: 420px) {

    .table_inner, .table_inner_specialist, .table_inner_admin {
        display: flex;
        justify-content: space-between;
        height: 100%;
        flex-direction: row;
    }

    input.inputs_for_names {
        width: 320px !important;
    }

    .columns_titles, .columns_titles_specialist, .columns_titles_admin {
        width: 200px;
        min-width: 180px;
        display: flex;
        border-bottom: none;
        flex-direction: column;
        justify-content: normal;
    }

    .columns_titles .cell:nth-child {
        border-right: 1px solid gray;
    }

    .columns_titles_specialist .specCol:nth-child {
        border-right: 1px solid gray;
    }

    .columns_titles_admin .admCol:nth-child {
        border-right: 1px solid gray;
    }

    .columns_titles .cell:nth-child(-n+3) {
            border: none;
            border-bottom: 1px solid gray;
    }

    .columns_titles_specialist .specCol:nth-child(-n+2) {
       border: none;
       border-bottom: 1px solid gray;
    }

    .columns_titles_admin .admCol:nth-child(-n+1) {
        border: none;
        border-bottom: 1px solid gray;
    }

    .service, .specialist, .admin {
        display: flex;
        margin-left: 0px;
        border-bottom: none !important;
        min-width: 300px;
        border-right: 1px solid black;
        flex-direction: column;
        justify-content: normal;
    }

    .admin {
        min-width: 200px;
    }

    .cell, .specCol {
        text-align: center;
        padding: 10px;
        width: 180px;
        word-wrap: break-word;
        display: flex;
        text-align: left;
    }

    .mobile_row {
        width: 100%;
        border-bottom: 1px solid gray;
        overflow: auto;
    }

    .mobile_row_actions {
        width: 200px;
        padding: 10px;
    }
}